<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >	
<suite name="ComponentTest">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>
  
 <test name="NewCustomerTest" >
 <classes>
 <class name="test.NewCustomerTest" />
 </classes>
 </test>

 
</suite>